@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');*/


:root {
    --primary: #ea7134;
	--primaryopacity: #ffeee4;

	--secondary: #182d36;
	--tertiary: #ffa02a;

    --white: #ffffff;
	--gray: #ebebeb;
	--graydark: #e6e6e6;
    --graydarkest : #cccccc;
    --newgray: #c3c3c375;
	--black: #0f2027;

    --transition: 0.2s ease-in-out; 
    --font: "Lexend";
    --pop: "Poppins";
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
}
::selection {
    color: var(--primary) !important;
    background-color: var(--primaryopacity) !important;
}
a {
    text-decoration: none;
}
img, 
svg {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
/***********************************************************************************/
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: var(--font), sans-serif;
    background-color: #e5e6e8;
    /* background: linear-gradient(315deg, hsl(20deg 35% 45% / 15%), hsl(211deg 35% 45% / 15%)); */
    font-size: 0.85rem;
    color: var(--black);
    position: relative;
    min-width: 20rem;
}
body.modal-open {
    overflow: hidden;
}
/***********************************************************************************/
.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 118rem;
    padding: 0 1rem;
}
.fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    width: 100%;
}
.frosft {
    background-color: rgb(255 255 255 / 50%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0px 8px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 2rem;
}
.glass {
    background-color: hsl(0deg 0% 100% / 29%); /*30*/
    border: 2px solid hsl(0deg 0% 100% / 32%);  /*45*/
    box-shadow: 0 0 2rem hsl(0deg 0% 0% / 5%);
    border-radius: 1.5rem;
}
.glass2 {
    background-color: hsl(0deg 0% 95% / 75%);
    border: 2px solid hsl(0deg 0% 100% / 45%);
    box-shadow: 0 0 2rem hsl(0deg 0% 0% / 5%);
    border-radius: 1.5rem;
}
.white {
    background-color: var(--white);
    box-shadow: 0 0 1rem hsl(0deg 0% 0% / 5%);
    border-radius: 0.75rem;
}
.gradient {
    background: linear-gradient(315deg, hsl(20deg 22% 85% / 80%), hsl(211deg 22% 85% / 80%));
    border: 2px solid hsl(0deg 0% 100% / 60%);
    box-shadow: 0 0 2rem hsl(0deg 0% 0% / 5%);
}
.hover-opacity {
    transition: var(--transition);
    cursor: pointer;
}
.hover-opacity:hover {
    opacity: 0.75;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls .left {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    border-radius: 2rem;
}
.controls .right {
    background-color: var(--secondary);
    color: var(--white);
    display: flex;
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
}
.controls .right .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 0 0.75rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}
.controls .right .item:hover {
    background-color: hsl(0deg 0% 100% / 20%);
}
.controls .right .item .button {
    border-radius: 2rem;
    transition: var(--transition);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls .right .item span {
    font-size: 0.75rem;
    font-weight: 600;
}
.controls .right img {
    filter: invert(1);
}
/***************************************************************************/
.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background: linear-gradient(315deg, hsl(20deg 22% 85% / 80%), hsl(211deg 22% 85% / 80%));
    backdrop-filter: blur(2px);
}
.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(100dvh - 6rem);
    padding: 1.5rem;
    overflow-y: auto;
    border-radius: 1.5rem;
    min-width: 20rem;
    max-width: 48rem;
    width: calc(100% - 2rem);
}
.modal.small {
    max-width: 36rem;
}
.modal.little {
    max-width: 28rem;
}
.modal .buttons {
    display: flex;
    gap: 0.75rem;
}
.modal.head {
    padding-top: 3rem;
}
.modal .created {
    align-items: center;
    gap: 0.5rem;
    display: flex;
    margin: 0;
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
}
.modal .card {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem hsl(0deg 0% 0% / 2.5%);
}
.modal .modal-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    padding: 0.75rem;
    display: flex;
}
.modal .modal-back {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    cursor: pointer;
    padding: 0.75rem;
    display: flex;
}
.modal .modal-home {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    cursor: pointer;
    padding: 0.75rem;
    display: flex;
}
.modal .title {
    position: relative;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.modal .title.center {
    align-items: center;
}
.modal .modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}
.modal .textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1rem;
    resize: none;
    outline: none;
    width: 100%;
    background-color: var(--white);
    border: none;
    height: 7rem;
    min-height: 4.5rem;
    transition: var(--transition);
    overflow-y: auto;
    font-family: inherit;
}
.modal .text-area {
    padding: 1rem;
    border-radius: 1rem;
    resize: none;
    outline: none;
    transition: var(--transition);
    field-sizing: content;
    font-weight: 300;
    font-family: var(--font);
    font-size: 0.85rem;
    letter-spacing: 0.2px;
    line-height: 1.15rem;
    min-height: 3.5rem;
}
.modal .text-area:focus {
    box-shadow: 0 0 2rem hsl(0deg 0% 0% / 5%);
    background-color: white;
    border: 2px dashed white;
}
.modal .button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-family: var(--font);
    font-weight: 500;
    font-size: 0.85rem;
    border-radius: 2.5rem;
    line-height: 2.75rem;
    padding: 0;
    width: 100%;
    outline: none;
}
.modal .button.icon {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.modal .button.icon img {
    filter: invert(1);
}
.modal .button:disabled {
    font-size: 1rem;
    background-color: var(--graydarkest);
    color: var(--black);
    cursor: auto;
    opacity: 1 !important;
}
.modal .button.black {
    background-color: var(--secondary);
    color: var(--white);
}
.modal .button.gray {
    background-color: transparent;
    color: var(--black);
    border: 2px solid hsl(198deg 44% 11% / 15%);
}
.modal .button.green {
    opacity: 1;
    background-color: #489c78;
}
.modal .button.error,
.modal .button.red {
    opacity: 1;
    background-color: #c75661;
}
.modal .button.blue {
    background-color: #648fad;
    color: var(--white);
}
.modal .button.lime {
    background-color: #94b274;
    color: var(--white);
}

.modal .button.violet {
    background-color: #9473c6;
    color: var(--white);
}
.modal .fields {
    position: relative;
    display: flex;
    gap: 1rem;
}
.modal label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex: 1;
    padding: 0 0.75rem;
}
.modal label select,
.modal label input {
    height: 2.5rem;
    color: var(--black);
    padding: 0;
    width: 100%;
    font-family: var(--font);
    border: none;
    outline: none;
    background-color: transparent;
}
.modal label select {
    cursor: pointer;
}
.modal label.flex2-3 {
    flex: 2.25;
    position: relative;
}
.modal label.flex1-5 {
    flex: 1.5;
}
.modal .percent33 {
    width: 33.33%;
}
.modal .percent40 {
    width: 40%;
}
.modal .percent60 {
    width: 60%;
}
.modal .percent66 {
    width: 66.66%;
}
.modal .percent100 {
    width: 100%;
}
/***********************************************************************************/
.dashboard {
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    max-width: 118rem;
}
.dashboard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard .header .menu {
    display: flex;
    background-color: var(--white);
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
}
.dashboard .header .menu.primary {
    background-color: var(--secondary);
    color: var(--white);
}
.dashboard .menu .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 0 0.75rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: var(--transition); 
}
.dashboard  .menu .item:hover {
    background-color: var(--gray);
}
.dashboard  .menu .item .button {
    border-radius: 2rem;
    transition: var(--transition);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard  .menu .item span {
    font-size: 0.75rem;
    font-weight: 600;
}
.dashboard  .menu.primary {
    background-color: var(--secondary);
    color: var(--white);
}
.dashboard  .menu.primary .item:hover {
    background-color: hsl(0deg 0% 100% / 20%);
}
.dashboard  .menu.primary img {
    filter: invert(1);
}
/***********************************************************************************/
#nprogress {
    pointer-events: none;
}
  
#nprogress .bar {
    background: var(--primary);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
/***********************************************************************************/
#sidebar {
    left: 1.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    z-index: 10;
    gap: 1.5rem;
}
#sidebar .home {
    margin-top: 1.5rem;
    min-width: 2rem;
}
#sidebar ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: white;
    border-radius: 2rem;
    padding: 0.75rem 0.5rem;
}
#sidebar ul li {
    display: flex;
    position: relative;
}
#sidebar ul li a {
    border-radius: 2rem;
    transition: var(--transition);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar ul li a:hover {
    opacity: 0.5;
}
#sidebar ul li.active a {
    background-color: var(--black);
}
#sidebar ul li.active img {
    filter: invert(1);
    width: 1rem;
    height: 1rem;
}
#sidebar ul li span {
    left: 4rem;
    position: absolute;
    background-color: var(--secondary);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: var(--transition);
    visibility: hidden;
    font-size: 0.75rem;
}
#sidebar ul li span:before {
    content: "";
    display: block;
    border: 0.75rem solid var(--secondary);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    bottom: 0.25rem;
    left: -1.25rem;
    transform: rotate(90deg);
}
#sidebar ul li a:hover + span {
    opacity: 1;
    visibility: visible;
}
#sidebar .config {
    border-radius: 2rem;
    background-color: white;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 1rem;
    gap: 1rem;
}
#sidebar .notification {
    background-color: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    display: none;
    position: relative;
}
#sidebar .notification .dot {
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--primary);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}
#sidebar .user {
    border-radius: 2rem;
    min-width: 2.5rem;
}
#sidebar .menu {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    transition: var(--transition);
}
#sidebar .menu .content {
    background-color: var(--white);
    box-shadow: 0 0.5rem 1rem #00000040;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    gap: 0.75rem;
}
#sidebar .menu .content .image {
    border-radius: 3rem;
    border: 4px solid var(--graydark);
}
#sidebar .menu .content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
#sidebar .menu .content .text span {
    opacity: 0.75;
}
#sidebar .menu .content .text span.ver {
    margin-top: 0.5rem;
    font-size: 0.65rem;
    font-weight: 600;
}
#sidebar .menu .content .controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#sidebar .menu .content .controls .image {
    background-color: var(--secondary);
    color: var(--white);
    height: 2.5rem;
    padding: 0 1.5rem;
    gap: 0.25rem;
    border-radius: 2rem;
    font-size: 0.75rem;
    border: 1px solid var(--graydark);
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar .menu .content .controls .image.primary {
    background-color: var(--primary);
}
#sidebar .menu .content .controls .image img {
    filter: invert(1);
}
/***********************************************************************************/
#content.sidebar {
    margin-left: 5.5rem;
}
#content .wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
/***********************************************************************************/
#main-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(315deg, #eee9e5db, #e6eaefd9);
    z-index: 3;
    backdrop-filter: blur(2px);
}
/***********************************************************************************/
#sidebar .wrapper {
    display: flex;
    padding: 1.5rem 1rem;
    justify-content: space-between;
}
#sidebar .wrapper .right {
    display: flex;
    gap: 1rem;
    position: relative;
    align-items: center;
}
/***********************************************************************************/

#modal-push-info .modal {
    max-width: 24rem;
    text-align: center;
}

#modal-push-info .modal img {
    margin: auto;
    border-radius: 3rem;
}
#modal-push-info .modal p {
    margin: 0rem 0 1rem;
}
/****************************************************	100rem	1600px	 ***************************************************/ 
@media only screen and (max-width: 100rem) {

}
/****************************************************	75rem	1200px	 ***************************************************/ 
@media only screen and (max-width: 75rem) {
	
}
/****************************************************	62rem	992px	 ***************************************************/ 
@media only screen and (max-width: 62rem) {

}
/****************************************************	48rem	768px	 ***************************************************/ 
@media only screen and (max-width: 48rem) {
    .controls {
        position: fixed;
        left: 1rem;
        right: 1rem;
        bottom: 1.5rem;
        z-index: 1;
        gap: 0.75rem;
    }
    .controls .left {
        background-color: rgb(255 255 255 / 50%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0px 8px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(4px);
        gap: 0.5rem;
        padding: 0.5rem 0.75rem;
        overflow-x: auto;
    }
    .controls .right {
        padding: 0.75rem;
    }
    .controls .right .item {
        padding: 0;
        width: 2rem;
        height: 2rem;
    }
    .controls .right .item span {
        display: none;
    }
    #sidebar {
        flex-direction: row;
        height: initial;
        left: 0;
        right: 0;
        justify-content: space-between;
        top: 1rem;
        padding: 0 1rem;
        gap: 0.75rem;
    }
    #sidebar .home {
        margin: 0;
    }
    #sidebar ul {
        flex-direction: row;
        margin-right: auto;
        padding: 0.5rem 0.75rem;
        min-width: 11rem;
        overflow: auto;
        gap: 0.5rem;
        background-color: rgb(255 255 255 / 50%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0px 8px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(4px);
        border-radius: 2rem;
    }
    #sidebar .config {
        flex-direction: row;
        margin: 0;
        background-color: rgb(255 255 255 / 50%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0px 8px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(4px);
        border-radius: 2rem;
    }
    #sidebar ul li span {
        display: none;
    }
    #sidebar .menu {
        left: initial;
        right: 1rem;
        bottom: 5.5rem;
    }
    #content.sidebar {
        margin: 0;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .modal-wrap {
        align-items: end;
    }
    .modal {
        max-width: initial !important;
        width: 100%;
        padding: 1.5rem 1rem 1rem 1rem;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .modal .fields {
        flex-direction: column;
    }
    .modal .text-area {
        width: 100%;
    }
    .hover-opacity:hover {
        opacity: 1 !important;
    }
    #sidebar ul li a:hover {
        opacity: 1 !important;
    }
    .dashboard .menu {
        gap: 0.75rem;
    }
    .dashboard .menu .item {
        padding: 0;
    }
    .dashboard .menu .item .button {
        height: 2.5rem;
        width: 2.5rem;
    }
    .dashboard .menu .item span {
        display: none;
    }
}
/****************************************************	36rem	576px	 ***************************************************/ 
@media only screen and (max-width: 36rem) {
	
}
/****************************************************	26rem	416px	 ***************************************************/ 
@media only screen and (max-width: 26rem) {
	
}

.modal-enter,
.modal-leave {
  transition: transform 280ms cubic-bezier(.16, 1, .3, 1), opacity 280ms ease;
  will-change: transform, opacity;
}

.modal-enter-start {
  opacity: 0;
  transform: translate3d(0, 6rem, 0) !important; /* antes 28px */
}

.modal-enter-end {
  opacity: 1;
  transform: translate3d(0, 0, 0) !important;
}

.modal-leave-start {
  opacity: 1;
  transform: translate3d(0, 0, 0) !important;
}

.modal-leave-end {
  opacity: 0;
  transform: translate3d(0, 6rem, 0) !important;
}
