<div x-data="attendance_data">
	<div id="attendance">
        <div class="controls">
			<div class="left frost">
				<!-- <div class="item">
					<img alt="" width="22" height="22" src="/static/images/icons/salary.svg">
					<span>Sueldo</span>
				</div> -->
				<div class="item" @click="viewLeaves()">
					<img alt="" width="20" height="20" src="/static/images/icons/vacation.svg">
					<span>Licencias</span>
				</div>

			</div>


			<div class="left frost">
				<div class="item" @click="prev()" x-show="offset > -1">
					<img class="flip" alt="prev" src="/static/images/icons/right.svg" width="20" height="20">
				</div>

				<div class="item date" @click="today()" x-text="$store.cache.getData('attendance_period')?.period?.name"></div>

				<div class="item" @click="next()" x-show="offset < 3">
					<img alt="next" src="/static/images/icons/right.svg" width="20" height="20">
				</div>
			</div>

			<div class="right frost-dark">
				<div class="item" @click="xlsProcess()">
					<img class="invert" alt="" width="20" height="20" src="/static/images/icons/add.svg">
					<span>Cargar</span>
					<input
						type="file"
						x-ref="file"
						class="hidden"
						accept=".xls,.xlsx"
						@change="onSelected"
					/>
				</div>
			</div>
		</div>


		<div class="main">
			<div class="middle">
				<div class="card glass summary">
					<div class="center">
						<span>
							Lunes
						</span>
						<span>
							Martes
						</span>
						<span>
							Miércoles
						</span>
						<span>
							Jueves
						</span>
						<span>
							Viernes
						</span>
						<span>
							Sábado
						</span>
						<span>
							Resumen
						</span>
					</div>
					
					<div class="bottom">
						<template x-for="(day, idx) in gridDays" :key="idx">
							<div class="month" :class="dayClass(day)">
							<template x-if="showLate(day)">
								<img class="late" alt="" width="16" height="16" src="/static/images/icons/late.svg">
							</template>

							<span class="number" :class="isToday(day) ? 'today' : ''" x-text="day.label"></span>

							<div class="body">
								<template x-for="(item, i) in dayItems(day)" :key="i">
								<div class="item">
									<span class="label" x-text="item.label"></span>
									<span class="date" x-text="item.value"></span>
								</div>
								</template>
							</div>
							</div>
						</template>
					</div>
				</div>

			</div>

			<div class="right">
				<div class="card glass user">
					<span class="litle">Usuario</span>
					<span>Leslie Gallegos</span>
				</div>

				<div class="card glass salary">
					<span class="litle">Sueldo del mes</span>
					<span class="amount" x-show="show_salary">S/ 3144.00</span>
					<span class="amount" x-show="!show_salary">S/ ********</span>
					<div class="white eye hover-opacity" @click="show_salary = !show_salary">
						<img alt="" width="16" height="16" src="/static/images/icons/eye.svg">
					</div>

					<div class="final">
						<div>
							<span>Sueldo base</span>
							<span>S/ 3000.00</span>
						</div>
						<div>
							<span>Porcentaje de asistencias</span>
							<span>99.8%</span>
						</div>
						<div>
							<span>Sueldo neto</span>
							<span>S/ 2994.00</span>
						</div>
						<div>
							<span>Bonos</span>
							<span>S/ 150.00</span>
						</div>
						<div>
							<span>Total a pagar</span>
							<span>S/ 3144.00</span>
						</div>
					</div>

				</div>

				<div class="card glass stats">
					<span class="litle">Resumen del mes</span>

					<div class="sub">
						<div class="target">
							<img alt="" width="16" height="16" src="/static/images/icons/accept.svg">
							<span>Periodo</span>
						</div>

						<div class="item">
							<div class="label">Horas objetivo</div>
							<div class="data">150:00</div>
						</div>
						<div class="item">
							<div class="label">Horas laboradas</div>
							<div class="data">148:50</div>
						</div>
					</div>
					

					<div class="sub">
						<div class="target">
							<img alt="" width="16" height="16" src="/static/images/icons/accept.svg">
							<span>Tolerancia</span>
						</div>

						<div class="item">
							<div class="label">Prevista <small>(1% del objetivo)</small></div>
							<div class="data">01:50</div>
						</div>
						<div class="item">
							<div class="label">Acumulada</div>
							<div class="data">00:45</div>
						</div>
						<div class="item">
							<div class="label">Total penalización</div>
							<div class="data">00:00</div>
						</div>
					</div>

					
					<div class="sub">
						<div class="target">
							<img alt="" width="16" height="16" src="/static/images/icons/accept.svg">
							<span>Otros</span>
						</div>
						<div class="item">
							<div class="label">Tardanzas</div>
							<div class="data">0</div>
						</div>
						<div class="item">
							<div class="label">Vacaciones</div>
							<div class="data">0</div>
						</div>
						<div class="item">
							<div class="label">Bonos</div>
							<div class="data">3</div>
						</div>
					</div>

					<div class="sub">
						<div class="target">
							<img alt="" width="16" height="16" src="/static/images/icons/accept.svg">
							<span>Cumplimiento</span>
						</div>
						<div class="item">
							<div class="label">Porcentaje</div>
							<div class="data">99.8 %</div>
						</div>
					</div>

				</div>

				<div class="card glass performance">
					<div class="litle">Desempeño</div>
					<div class="reviews">
						<div class="user">
							<img class="circle" alt="user" src="/static/images/uploads/users/45471238.jpg" width="24" height="24">
							<div class="text">
								<span class="name">Antonio Moll</span>
								<span class="department">Gerencia</span>
							</div>
							<img class="like" alt="" width="16" height="16" src="/static/images/icons/like2.svg">
						</div>

						<div class="user">
							<img class="circle" alt="user" src="/static/images/uploads/users/75261878.jpg" width="24" height="24">
							<div class="text">
								<span class="name">Leslie Gallegos</span>
								<span class="department">Administración</span>
							</div>
							<img class="like" alt="" width="16" height="16" src="/static/images/icons/likeline.svg">
						</div>
						
						<div class="user">
							<img class="circle" alt="user" src="/static/images/uploads/users/73705094.jpg" width="24" height="24">
							<div class="text">
								<span class="name">Silvia Tejeda</span>
								<span class="department">Marketing</span>
							</div>
							<img class="like" alt="" width="16" height="16" src="/static/images/icons/likeline.svg">
						</div>

						<div class="user">
							<img class="circle" alt="user" src="/static/images/uploads/users/76520775.jpg" width="24" height="24">
							<div class="text">
								<span class="name">Lucy Chapoñan</span>
								<span class="department">Soporte</span>
							</div>
							<img class="like" alt="" width="16" height="16" src="/static/images/icons/dislike.svg">
						</div>

						<div class="user">
							<img class="circle" alt="user" src="/static/images/uploads/users/47293035.jpg" width="24" height="24">
							<div class="text">
								<span class="name">Kevin Trejo</span>
								<span class="department">Logistica</span>
							</div>
							<img class="like" alt="" width="16" height="16" src="/static/images/icons/like2.svg">
						</div>
					</div>
				</div>
			</div>

			<div
				x-show="$store.cache.isVisibleModal('leaves')"
				@mousedown.self="$store.cache.hideLastModal()"
				class="modal-wrap common-modal"
				id="modal-leaves"
				x-transition:enter="modal-enter"
				x-transition:enter-start="modal-enter-start"
				x-transition:enter-end="modal-enter-end"
				x-transition:leave="modal-leave"
				x-transition:leave-start="modal-leave-start"
				x-transition:leave-end="modal-leave-end"
				x-cloak
			>
				<div class="modal small glass2" @click.stop>
					<div class="modal-grabber">
						<div class="modal-grabber-bar"></div>
					</div>

					<div class="top">
						<span class="title">Licencias</span>

						<div class="buttons">
							<button class="button hover-opacity" @click="leaveProcess()">
							<img alt="" width="16" height="16" src="/static/images/icons/add.svg">
							Permiso
						</button>
						<button class="button black hover-opacity" @click="vacationProcess()">
							<img alt="" width="16" height="16" src="/static/images/icons/add.svg">
							Vacaciones
						</button>
						</div>
					</div>

					<div class="modal-content">
						<!-- <template x-if="link_list.length == 0"> -->
						<template x-if="false">
							<span style=" text-align: center; padding: 2rem 0;">El historial de tus licencias aparecerá aquí</span>
						</template>

						<div class="table-box">
							<!-- <template x-for="purchase in $store.cache.getData('purchases_dashboard')?.requests" :key="purchase.id">
								<div class="table-row white" @click="viewPurchase(purchase)">
									<div class="id" x-text="`PR-00${purchase.id}`"></div>
									<div>
										<img alt="user" class="image" :src="'/static/images/uploads/users/' + purchase.requester_image" width="24" height="24">
										<span class="name" x-text="purchase.requester_name"></span>
									</div>
									<div x-text="purchase.requester_department"></div>
									<div x-text="purchase.express == 1 ? 'Caja chica':'Estándar'"></div>
									<div x-text="purchase.urgency_name"></div>
									<div class="statuses">
										<div :class="purchase.status_slug" x-text="purchase.status_name"></div>
									</div>
									<div class="date" x-text="purchase.created_at"></div>
								</div>
							</template> -->
							<div class="table-row white">
								<div class="id" x-text="`LI-01`"></div>
								<div>
									<img alt="user" class="image" src="/static/images/uploads/users/75066321.jpg" width="24" height="24">
									<span class="name" x-text="'Allison Casimiro'"></span>
								</div>
								<div>Permiso</div>
								<div class="statuses">
									<div class="pending" x-text="'Registrado'"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            
			<div
				x-show="$store.cache.isVisibleModal('process')"
				@mousedown.self="$store.cache.hideLastModal()"
				class="modal-wrap"
				id="modal-process"
				x-cloak
				x-transition:enter="modal-enter"
				x-transition:enter-start="modal-enter-start"
				x-transition:enter-end="modal-enter-end"
				x-transition:leave="modal-leave"
				x-transition:leave-start="modal-leave-start"
				x-transition:leave-end="modal-leave-end"
			>

				<div class="modal small glass2" @click.stop>
					<div class="modal-grabber">
						<div class="modal-grabber-bar"></div>
					</div>

					<div class="modal-content">

						<div class="fields">
							<label class="white">
								<img alt="repeat" src="/static/images/icons/calendar.svg" width="16" height="16">

								<span
									style="cursor: pointer; flex: 1; line-height: 2.5rem;"
									@click="
										if ($refs.start_date_input.showPicker) {
											$refs.start_date_input.showPicker();
										} else {
											$refs.start_date_input.focus();
										}
									"
									x-text="dateLabel(event_data.start_date_only, 'Fecha del permiso')"
								></span>

								<input
									x-ref="start_date_input"
									type="date"
									x-model="event_data.start_date_only"
									:min="minLeaveDate"
									style="
										position:absolute;
										inset:0;
										opacity:0;
										pointer-events:none;
									"
								>
							</label>

							<label class="white">
								<img alt="repeat" src="/static/images/icons/clock.svg" width="14" height="14">
								<select >
									<option value="" disabled selected>Duración</option>
									<option value="">Media jornada (mañana)</option>
									<option value="">Media jornada (tarde)</option>
									<option value="">Jornada completa</option>
								</select>
							</label>
						</div>
							
						<div class="fields">
							<label class="white flex2-3">
								<select x-model="event_data.leave_type">
									<option value="" disabled selected>Tipo de permiso</option>
									<option value="medical">Atención médica</option>
									<option value="errand">Gestión / Trámite</option>
									<option value="training">Capacitación / Taller</option>
									<option value="personal">Asunto personal</option>
									<option value="other">Otro</option>
								</select>
							</label>

							<template x-if="event_data.leave_type === 'other'">
								<label class="white flex2-3">
									<input
									type="text"
									class="input"
									placeholder="Especifica el tipo"
									x-model="event_data.leave_type_detail"
									/>
								</label>
							</template>
						</div>

						<textarea 
							placeholder="Motivo o detalle"
							x-model="event_data.description"
							class="text-area"
							style="max-width: 100%; border: 2px solid white;"
						></textarea>

						<textarea
							placeholder="Plan de recuperación de horas (cómo y cuándo)"
							x-model="event_data.description2"
							class="text-area"
							style="max-width: 100%; border: 2px solid white;"
						></textarea>
					</div>

					<div class="buttons" >
						<button 
							class="button icon hover-opacity" 
							@click="handlePrimaryAction()" 
							:class="buttons.save.class"
						>
							<span>Solicitar</span>
						</button>
					</div>
					
				</div>
			</div>


			<div
				x-show="$store.cache.isVisibleModal('vacation')"
				@mousedown.self="$store.cache.hideLastModal()"
				class="modal-wrap"
				id="modal-vacation"
				x-cloak
				x-transition:enter="modal-enter"
				x-transition:enter-start="modal-enter-start"
				x-transition:enter-end="modal-enter-end"
				x-transition:leave="modal-leave"
				x-transition:leave-start="modal-leave-start"
				x-transition:leave-end="modal-leave-end"
			>

				<div class="modal small glass2" @click.stop>
					<div class="modal-grabber">
						<div class="modal-grabber-bar"></div>
					</div>

					<div class="modal-content">

						<div class="fields">
							<label class="white">
								<img alt="repeat" src="/static/images/icons/calendar.svg" width="16" height="16">

								<span
									style="cursor: pointer; flex: 1; line-height: 2.5rem;"
									@click="
										if ($refs.start_date.showPicker) {
											$refs.start_date.showPicker();
										} else {
											$refs.start_date.focus();
										}
									"
									x-text="dateLabel(event_data.start_date, 'Inicio de vacaciones')"
								></span>

								<input
									x-ref="start_date"
									type="date"
									x-model="event_data.start_date"
									:min="minVacationDate"
									@change="
										event_data.end_date = '';
										$nextTick(() => {
											if ($refs.end_date?.showPicker) {
												$refs.end_date.showPicker();
											} else {
												$refs.end_date?.focus();
											}
										});
									"
									style="position:absolute; inset:0; opacity:0; pointer-events:none;"
								>
							</label>

							<label class="white">
								<img alt="repeat" src="/static/images/icons/calendar.svg" width="16" height="16">

								<span
									style="cursor: pointer; flex: 1; line-height: 2.5rem;"
									@click="
										if ($refs.end_date.showPicker) {
											$refs.end_date.showPicker();
										} else {
											$refs.end_date.focus();
										}
									"
									x-text="dateLabel(event_data.end_date, 'Fin de vacaciones')"
								></span>

								<input
									x-ref="end_date"
									type="date"
									x-model="event_data.end_date"
									:min="endDateMin()"
  									:max="endDateMax()"
									style="position:absolute; inset:0; opacity:0; pointer-events:none;"
								>
							</label>
						</div>
							
						<div class="fields">
							<label class="white flex2-3">
								<select x-model="event_data.leave_type">
									<option value="" disabled selected>Responsable durante ausencia</option>
									<option value="medical">Allison Casimiro</option>
									<option value="errand">Nairuth Bendezú</option>
								</select>
							</label>
						</div>

						<textarea 
							placeholder="Notas (opcional)"
							x-model="event_data.description"
							class="text-area"
							style="max-width: 100%; border: 2px solid white;"
						></textarea>

					</div>

					<div class="buttons" >
						<button 
							class="button icon hover-opacity" 
							@click="handlePrimaryAction()" 
							:class="buttons.save.class"
						>
							<span>Solicitar</span>
						</button>
					</div>
					
				</div>
			</div>


		</div>
	</div>







	<script>
		Alpine.data('attendance_data',() => ({
		api: Alpine.store('cache').api,
		user_id: Alpine.store('cache').user.id,

		offset: 0,
		show_salary: false,
		loading: false,

		gridDays: [],
		event_data: {
			start_date_only: "",
			start_date: "",
			end_date: "",
			leave_type: "",
			leave_type_detail: "",
			duration: "",
			description: "",
			description2: "",
			recovery_plan: "",
		},
		minLeaveDate: "",
		minVacationDate: "",


		async init() {
			console.log('Inicializando attendance...');

			const leave_date = new Date();
			const vacation_date = new Date();

			leave_date.setDate(leave_date.getDate() + 7);
			vacation_date.setDate(vacation_date.getDate() + 21);
			this.minLeaveDate = leave_date.toISOString().slice(0, 10);
			this.minVacationDate = vacation_date.toISOString().slice(0, 10);

			
			await this.load();
			await Alpine.store('cache').verify();
		},

		async load() {
			await Alpine.store('cache').fetchData([
			{ key: 'attendance_period', url: `/attendance/period?user_id=${this.user_id}&offset=${this.offset}`, force: true },
			]);

			this.buildGrid();
		},

		buildGrid() {
			const data = Alpine.store('cache').getData('attendance_period') || {};
			const weeks = data.weeks || [];
			const days = [];

			for (const w of weeks) {
			for (const d of (w.days || [])) {
				days.push(d);
			}
			}

			this.gridDays = days;
		},

		dayClass(day) {
			if (!day?.in_period) return 'glass';

			return 'white';
		},

		showLate(day) {
			if (!day?.in_period) return false;
			const first = (day?.intervals || [])[0];
			if (!first?.start) return false;
			return first.start > "09:00";
		},

		dayItems(day) {
			if (!day?.in_period) return [];
			const intervals = (day?.intervals || []).filter(x => x?.start);
			if (intervals.length === 0) return [];

			const items = [];

			if (intervals[0]) {
				items.push({
					label: "Mañana",
					value: intervals[0].end ? `${intervals[0].start} - ${intervals[0].end}` : `${intervals[0].start}`
				});
			}

			if (intervals[1]) {
				items.push({
					label: "Tarde",
					value: intervals[1].end ? `${intervals[1].start} - ${intervals[1].end}` : `${intervals[1].start}`
				});
			}

			return items;
		},

		isToday(day) {
			if (!day?.date) return false;
			const now = new Date();
			const iso = now.toISOString().slice(0, 10);
			return day.date === iso && this.offset === 0;
		},

		async next() {
			this.offset++;
			await this.load();
		},

		async prev() {
			this.offset--;
			await this.load();
		},

		async today() {
			this.offset = 0;
			await this.load();
		},

		xlsProcess() {
			this.$refs.file.value = "";
			this.$refs.file.click();
		},

		async onSelected(e) {
			const file = e.target.files?.[0];
			if (!file) return;

			this.loading = true;

			try {
			const form_data = new FormData();
			form_data.append("file", file);

			const res = await fetch(`${this.api}/attendance/xls`, {
				method: "POST",
				body: form_data,
				// Si tu endpoint está protegido, agrega Authorization aquí
				// headers: { "Authorization": `Bearer ${Alpine.store('cache').token}` }
			});

			const data = await res.json().catch(() => ({}));
			if (!res.ok) return;

			await this.load();

			} finally {
				this.loading = false;
			}
		},

		async viewLeaves() {
			// await this.firstLinkPage();
			Alpine.store('cache').showModal('leaves');
		},

		leaveProcess() {
			Alpine.store('cache').showModal('process');
		},

		vacationProcess() {
			Alpine.store('cache').showModal('vacation');
		},

		formatShortDate(iso) {
			if (!iso) return "";
			const [y, m, d] = iso.split("-").map(Number);
			const date = new Date(y, m - 1, d);
			const months = ["ene.", "feb.", "mar.", "abr.", "may.", "jun.", "jul.", "ago.", "sep.", "oct.", "nov.", "dic."];

			return `${d} ${months[date.getMonth()]} ${y}`;
		},

		dateLabel(iso, fallback) {
			return iso ? this.formatShortDate(iso) : fallback;
		},
		addDaysISO(iso, days) {
			if (!iso) return "";
			const [y, m, d] = iso.split("-").map(Number);
			const dt = new Date(y, m - 1, d);
			dt.setDate(dt.getDate() + days);
			return dt.toISOString().slice(0, 10);
		},

		endDateMin() {
			return this.event_data.start_date || this.minVacationDate;
		},

		endDateMax() {
			return this.event_data.start_date ? this.addDaysISO(this.event_data.start_date, 15) : "";
		},
	}));
	</script>









	<style>
		.table-box {
			gap: 0.5rem;
			display: flex;
			flex-direction: column;
		}
		.table-row {
			display: grid;
			grid-template-columns: 0.3fr 0.9fr 0.6fr auto;
			gap: 1rem;
			align-items: center;
			padding: 1rem;
			cursor: pointer;
			transition: var(--transition);
		}
		.table-row > div:nth-child(2) {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
		.table-row .image {
			border-radius: 2rem;
			object-fit: cover;
		}
		.table-row .statuses div {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0.25rem 1rem;
			border-radius: 2rem;
			font-size: 0.75rem;
			font-weight: 600;
		}
		.pending {
			background: var(--newgray);
    		border: 2px solid #c7c6c6;
		}
		.leader_approve {
			background-color: #fff0de;
    		border: 2px solid #fcdab1;
		}
		.manager_approve {
			background-color: #d0f4ea;
    		border: 2px solid #abe9d8;
		}
		.rejected {
			background-color: #fee3e1;
			border: 2px solid #ffceca;
		}
		.common-modal .top {
			justify-content: space-between;
			display: flex;
		}
		.common-modal .button {
			display: flex;
			gap: 0.25rem;
			justify-content: center;
			align-items: center;
			width: initial;
			padding: 0 1rem;
			line-height: 2rem;
			font-size: 0.8rem;
			font-weight: 400;
		}
		.common-modal .button img {
			filter: invert(1);
		}
		#modal-vacation .modal label {
    		position: relative;
		}
		#modal-leaves .modal .modal-content {
			padding: 0.5rem 0;
		}
		#attendance {
			user-select: none;
			display: flex;
			gap: 1rem;
			margin: 0 auto;
			max-width: 118rem;
			flex-direction: column;
		}
		#attendance .main {
			display: flex;
			min-height: calc(100vh - 6.5rem);
			gap: 1rem;
		}
		#attendance .main .left {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			max-width: 16rem;
		}
		#attendance .main .card {
			padding: 0.75rem;
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			border-radius: 1rem;
		}
		#attendance .main .title {
			font-size: 1rem;
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 0.75rem;
		}

		

		#attendance .main .left .thumb {
			width: 100%;
			border-radius: 0.5rem;
		}
		#attendance .main .left .detail {
			display: flex;
			flex-direction: column;
		}
		#attendance .main .left .detail .name {
			display: flex;
			gap: 0.25rem;
			align-items: center;
		}
		#attendance .main .left .detail b {
			font-size: 0.9rem;
    		font-weight: 600;
		}
		#attendance .main .left .detail span {
			font-size: 0.7rem;
    		font-weight: 400;
		}
		#attendance .main .stats {
			gap: 1rem;
		}
		#attendance .main .stats .litle {
			font-size: 0.75rem;
			font-weight: 500;
			line-height: 1rem;
		}
		#attendance .main .stats .target {
			display: flex;
			gap: 0.5rem;
			font-weight: 600;
		}
		#attendance .main .stats .item {
			display: flex;
    		justify-content: space-between;
			margin-left: 1.5rem;
			align-items: center;
		}
		#attendance .main .item .label {
			font-weight: 500;
			font-size: 0.75rem;
			opacity: 0.75;
			display: flex;
			align-items: center;
			gap: 0.25rem;
		}
		#attendance .main .item .data {
			font-size: 1rem;
			font-weight: 600;
		}
		#attendance .main .summary {
			flex: 1;
		}
		#attendance .main .salary {
			position: relative;
    		gap: 0.5rem;
		}
		#attendance .main .salary .litle {
			font-size: 0.75rem;
			font-weight: 500;
			line-height: 1rem;
		}
		#attendance .main .salary .amount {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.5rem;
		}
		#attendance .main .salary .final {
			display: flex;
			flex-direction: column;
			font-size: 0.75rem;
		}
		#attendance .main .salary .final div {
			display: flex;
    		justify-content: space-between;
			opacity: 0.75;
		}
		#attendance .main .salary .final .spacer {
			padding: 0.25rem 0;
		}
		#attendance .main .salary .final div span + span {
			    font-weight: 600;
		}
		#attendance .main .salary .eye {
			padding: 0.5rem;
			border-radius: 0.5rem;
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#attendance .main .performance {
			display: none;
			gap: 0.75rem;
		}
		#attendance .main .performance .litle {
			font-size: 0.75rem;
			font-weight: 500;
			line-height: 1rem;
		}
		#attendance .main .performance .reviews {
			display: flex;
			gap: 1rem;
			flex-direction: column;
		}
		#attendance .main .performance .reviews .user {
			display: flex;
			gap: 0.75rem;
			align-items: center;
		}
		#attendance .main .performance .reviews .user .circle {
			min-width: 1.75rem;
    		border-radius: 1rem;
		}
		#attendance .main .performance .reviews .user .text {
			display: flex;
    		flex-direction: column;
		}
		#attendance .main .performance .reviews .user .name {
			line-height: 1rem;
    		font-weight: 600;
		}
		#attendance .main .performance .reviews .user .department {
			font-size: 0.75rem;
			font-weight: 400;
			opacity: 0.5;
			line-height: 1rem;
		}
		#attendance .main .performance .reviews .user .like {
			margin-left: auto;
		}

		#attendance .main .week-review {
			align-items: center;
			justify-content: center;
			gap: 0.75rem;
		}
		#attendance .main .week-review .percent {
			font-size: 1.25rem;
			line-height: 1.5rem;
			font-weight: 500;
		}
		#attendance .main .week-review .bar-wrapper {
			position: relative;
			height: 12px;
			overflow: hidden;
			width: 100%;
		}

		#attendance .main .week-review .bar {
			height: 100%;
			background: linear-gradient(90deg, #eab12f, #fa6817);
		}


		#attendance .main .middle {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			flex: 1;
		}
		#attendance .main .middle .top {
			display: flex;
    		justify-content: space-between;
		}
		#attendance .main .middle .more {
			display: flex;
			gap: 0.25rem;
			align-items: center;
			background-color: var(--black);
			color: var(--white);
			padding: 0.5rem 1rem;
			border-radius: 1rem;
			font-size: 0.8rem;
		}
		#attendance .main .middle .more img {
			filter: invert(1);
		}
		#attendance .main .middle .center {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 0.75rem;
			font-weight: 500;
    		opacity: 0.5;
		}
		#attendance .main .middle .center .year {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
		#attendance .main .middle .bottom {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 0.75rem;
			flex: 1;
			grid-auto-rows: minmax(0, 1fr);
			align-items: stretch;
		}
		#attendance .main .middle .bottom .month {
			padding: 0.5rem;
			border-radius: 0.75rem;
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			position: relative;
		}
		#attendance .main .middle .bottom .month .number {
			font-size: 1rem;
			line-height: 1rem;
			font-weight: 500;
			position: absolute;
			padding: 0.5rem;
			top: 0;
			left: 0;
		}
		#attendance .main .middle .bottom .month .number.today {
			background-color: var(--primary);
			color: white;
			font-weight: 400;
			border-radius: 0.5rem 0 0.5rem 0;
		}
		#attendance .main .middle .bottom .month.glass .number {
			opacity: 0.25;
		}
		#attendance .main .middle .bottom .month .late {
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
		}

		#attendance .main .right {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 18rem;
			min-height: 8rem;
		}
		#attendance .main .middle .bottom .month .body {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin-top: 2rem;
		}
		#attendance .main .middle .bottom .month .body .item {
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			border-radius: 0.5rem;
			background-color: #f0f0f0;
		}
		#attendance .main .middle .bottom .month .body .item + .item {
			background-color: #fce9d8;
		}
		#attendance .main .middle .bottom .month .body .item .label {
			font-size: 0.65rem;
			line-height: 0.75rem;
			opacity: 0.4;
			font-weight: 600;
		}
		#attendance .main .middle .bottom .month .body .item + .item .label {
			color: #ea6e00;
    		opacity: 0.5;
		}
		#attendance .main .middle .bottom .month .body .item .date {
			font-size: 0.8rem;
			font-weight: 500;
			line-height: 0.75rem;
		}
		#attendance .schedule-period {
			display: flex;
			flex-direction: column;
    		gap: 1rem;
		}
		#attendance .schedule-period .week {
			display: flex;
    		flex-direction: column;
			gap: 0.5rem;
			padding: 0.75rem;
		}
		#attendance .schedule-period .days {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		#attendance .schedule-period .days .day {
			display: flex;
			gap: 0.5rem;
		}
		#attendance .schedule-period .days .day .intervals {
			display: flex;
			gap: 0.5rem;
		}
		#attendance .schedule-day {
			display: flex;
		}
		#attendance .users {
			min-width: 13rem;
			display: flex;
    		flex-direction: column;
			gap: 1rem;
		}
		#attendance .users .header {
			font-size: 1rem;
    		font-weight: 600;
		}
		#attendance .users .column {
			display: flex;
    		flex-direction: column;
		}
		#attendance .users .row {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			padding: 0.75rem 0;
			line-height: 1rem;
		}
		#attendance .users .row img {
			border-radius: 1rem;
		}
		#attendance .users .row .name {
			font-weight: 600;
			font-size: 0.9rem;
		}
		#attendance .users .row .position {
			font-size: 0.8rem;
			font-weight: 400;
			color: #6b7280;
		}
		#attendance .timeline {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 100%;
		}
		#attendance .timeline-header {
			display: flex;
		}
		#attendance .timeline-hour {
			flex: 1;
			font-size: 0.8rem;
			font-weight: 500;
			line-height: 1.25rem;
			padding-left: 0.5rem;
		}
		#attendance .timeline-row {
			position: relative;
			display: flex;
			height: 3.5rem;
		}
		#attendance .timeline-block {
			position: absolute;
			top: 0.5rem;
			height: 2.5rem;
			border-radius: 4px;
			font-size: 0.65rem;
			font-weight: 600;
			display: flex;
			align-items: center;
			overflow: hidden;
			padding: 0 1px;
			white-space: nowrap;
		}
		#attendance .timeline-block span {
			padding: 0 0.5rem;
			color: #fff;
		}
		#attendance .timeline-now {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 2px;
			background: #000;
			z-index: 10;
		}
		#attendance .timeline-line {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 2px;
			background: #ffffff80;
		}
		
		#attendance .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#attendance .header .title {
			background-color: var(--black);
			color: var(--white);
			padding: 0.75rem 1.5rem;
			border-radius: 2rem;
			font-weight: 300;
		}
		#attendance .header .title img {
			padding: 0.5rem;
			border-radius: 0.5rem;
			border: 2px solid #eee;
		}
		#attendance .header .range {
			font-size: 1rem;
			font-weight: 600;
			text-transform: capitalize;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			position: relative;
		}
		#attendance .board {
			display: flex;
			height: 100%;
			user-select: none;
			flex-direction: column;
		}
		#attendance .group {
			flex: 1;
			display: flex;
			flex-direction: column;
			border-right: 2px solid #ffffff80;
			gap: 0.25rem;
			transition: var(--transition);
		}
		#attendance .calendar {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
			width: 100%;
		}
		#attendance .calendar .day {
			width: 14.25%;
			padding: 0.5rem;
			display: flex;
			align-items: center;
			font-weight: 600;
			position: relative;
			flex-direction: column;
			justify-content: start;
			border-right: 2px solid #ffffff80;
			border-bottom: 2px solid #ffffff80;
			gap: 0.5rem;

		}
		#attendance .calendar .item {
			display: flex;
			min-height: 8rem;
			align-items: center;
			flex-direction: column;
			gap: 0.5rem;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		#attendance .calendar .box {
			border-radius: 0.75rem;
			cursor: pointer;
			padding: 0.75rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			position: relative;
			transition: var(--transition);
			background-color: white;
			box-shadow: 0 0 1rem hsl(0deg 0% 0% / 2.5%);
			width: 100%;
		}
		#attendance .calendar .box .row {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
		}
		#attendance .calendar .box .order-number {
			font-size: 1rem;
			font-weight: 600;
			line-height: 1rem;
		}
		#attendance .calendar .box .passed-days {
			display: flex;
			gap: 0.5rem;
		}
		#attendance .calendar .box .register-day {
			font-size: 1rem;
			font-weight: 700;
		}
		#attendance .calendar .box .admin-name {
			font-size: 0.75rem;
			opacity: 0.75;
			display: block;
			line-height: 0.8rem;
			margin-top: 0.5rem;
		}
		#attendance .calendar .box .machine {
			font-weight: 600;
			font-size: 0.75rem;
			line-height: 1rem;
			display: block;
		}
		#attendance .calendar .box img {
			mix-blend-mode: darken;
			position: absolute;
			bottom: 0.5rem;
			right: 0.5rem;
			width: 2rem;
			pointer-events: none;
		}
		#attendance .group .name {
			display: flex;
			justify-content: center;
			font-size: 0.9rem;
			margin-top: 0.75rem;
			gap: 0.5rem;
			align-items: center;
		}
		#attendance ul {
			margin: 0;
			list-style: none;
			display: flex;
			gap: 0.75rem;
			flex-direction: column;
			padding: 0.75rem;
			flex: 1;
		}
		#attendance ul li .buttons {
			display: flex;
			gap: 0.5rem;
		}
		#attendance ul li.low .register-day {
			color: #6fcc85;
		}
		#attendance ul li.mid .register-day {
			color: #ff9600;
		}
		#attendance ul li.high .register-day {
			color: #f96161;
		}
		/***********************************************************************************/
		#modal-status .update {
			display: flex;
			justify-content: center;
			gap: 1rem;
			background-color: white;
			box-shadow: 0 0 2rem hsl(0deg 0% 0% / 5%);
			border-radius: 1rem;
			position: relative;
		}
		#modal-status .update .box {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
			flex: 1;
		}
		#modal-status .update .arrow {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		#modal-status .update .box img {
			margin-top: 0.5rem;
		}
		#modal-status .update .box span {
			font-size: 0.8rem;
		}
		#modal-status .send-whatsapp {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			font-size: 0.75rem;
		}
		#modal-status .send-whatsapp .dot {
			width: 0.5rem;
			height: 0.5rem;
			background-color: var(--primary);
			border-radius: 1rem;
		}
		#modal-status .send-whatsapp .box {
			display: none;
			position: relative;
			width: 2.5rem;
			height: 1.5rem;
		}
		#modal-status .send-whatsapp .box input {
			opacity: 0;
			width: 0;
			height: 0;
		}
		#modal-status .send-whatsapp .box .slider {
			border-radius: 2rem;
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			transition: all 0.25s ease-in-out;
		}
		#modal-status .send-whatsapp .box .slider:before {
			position: absolute;
			content: "";
			height: 1rem;
			width: 1rem;
			left: 0.25rem;
			bottom: 0.25rem;
			background-color: white;
			transition: all 0.25s ease-in-out;
			border-radius: 50%;
		}
		#modal-status .send-whatsapp .box input:checked + .slider {
			background-color: var(--primary);
		}
		#modal-status .send-whatsapp .box input:checked + .slider:before {
			transform: translateX(1rem);
		}
		/***********************************************************************************/
		#modal-process .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#modal-process .header .left {
			display: flex;
			gap: 0.75rem;
			align-items: center;
		}
		#modal-process .header .left .item {
			display: flex;
			gap: 0.25rem;
			align-items: center;
			background-color: var(--black);
			color: var(--white);
			padding: 0.35rem 1rem;
			border-radius: 2rem;
			font-size: 0.75rem;
			font-weight: 500;
		}
		#modal-process .header .left .item img {
			filter: invert(1);
		}
		#modal-process .header .days {
			font-size: 1rem;
			font-weight: 700;
		}
		#modal-process .client {
			background-color: white;
			display: flex;
			align-items: center;
			padding: 1rem;
			border-radius: 1rem;
			box-shadow: 0 0 1rem hsl(0deg 0% 0% / 2.5%);
			width: 100%;
			gap: 1rem;
		}
		#modal-process .client .data {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			justify-content: center;
		}
		#modal-process .client .data .machine {
			font-size: 1rem;
    		font-weight: 500;
		}
		#modal-process .client .data .name {
			font-size: 0.95rem;
			font-weight: 400;
			opacity: 0.75;
		}
		#modal-process .client .icons {
			margin-left: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.25rem;
		}
		#modal-process .client .icons a {
			padding: 0.25rem;
    		display: flex;
		}
		#modal-process .client .icons button {
			padding: 0.25rem;
			display: flex;
			margin: 0;
			background-color: transparent;
			outline: none;
			border: none;
			cursor: pointer;
		}
		#modal-process .history {
			display: flex;
			flex-direction: column;
			max-width: 28rem;
			margin-bottom: -0.75rem;
		}
		#modal-process .history .row {
			align-items: center;
			display: flex;
			gap: 0.75rem;
			padding: 0.75rem 0.25rem;
			border-top: 1px solid hsl(0deg 0% 100% / 50%);
		}
		#modal-process .history .row .left {
			display: flex;
			flex-direction: column;
			width: calc(100% - 6.5rem);
		}
		#modal-process .history .row .right {
			margin-left: auto;
			display: flex;
			flex-direction: column;
		}
		#modal-process .history .row .name {
			font-weight: 500;
			line-height: 1.25rem;
		}
		#modal-process .history .row .notes {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 0.75rem;
			opacity: 0.75;
			cursor: pointer;
		}
		#modal-process .history .row .notes.expanded {
			text-overflow: unset;
			white-space: normal;
			overflow: auto;
		}
		#modal-process .history .row .date {
			opacity: 0.75;
		}
		#modal-process .history .row .admin {
			opacity: 0.75;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 0.8rem;
			display: none;
		}
		
	</style>
</div>