<div x-data="tracking_data">
	<div id="tracking-dashboard">
        <div class="header">
			<div class="titles">
				<span class="range">Panel de Trackings</span>
			</div>
			<template x-if="editAllowed()">
				<div class="title hover-opacity" @click="addTracking()">+ Añadir tracking</div>
			</template>
		</div>

		<div class="container-tracking main glass">
			<template x-for="group in dashboard" :key="group.status_id">
				<div class="group">
					<div class="name">
						<img width="20" height="20" :src="'/static/images/tracking/' + $store.cache.tracking_status?.[group.status_id - 1].image" alt="">
						<span x-text="$store.cache.tracking_status?.[group.status_id - 1].name"></span>
					</div>

					<ul>
						<template x-if="group.tracking_order.length > 0">
							<template x-for="item in group.tracking_order" :key="item.id">
								<li class="white" @click="viewOrder(item.id)">
									<div class="row">
										<span class="order-number" x-text="item.order_number"></span>
										<img width="72" height="16" :src="'/static/images/tracking/' + $store.cache.tracking_agencies?.[item.agency_id].icon" alt="">
									</div>

									<div class="row">
										<span class="client-name" x-text="item.client_name"></span>
									</div>

									<div class="row">
										<span class="destination-agency" x-text="item.destination_agency"></span>
									</div>
								</li>
							</template>
						</template>
					</ul>
				</div>
			</template>

		</div>
	</div>



	
    <div
		x-show="$store.cache.isVisibleModal('add')"
		@mousedown.self="$store.cache.hideLastModal()"
		x-transition.duration.300ms
		class="modal-wrap"
		id="modal-add"
		x-cloak>

		<form id="registerTrackings" x-ref="form" method="POST" class="modal glass2" @click.stop @submit.prevent="processTracking">
			<div class="hover-opacity modal-close" @click="$store.cache.hideLastModal()">
				<img alt="close" src="/static/images/x.svg" width="12" height="12">
			</div>

			<div class="header">
				<input
					class="percent40 title"
					type="text"
					x-model="order_number"
					placeholder="N° de Orden"
					maxlength="6" 
					@input="order_number = $event.target.value.toUpperCase()"
					@blur="fetchOrderData()"
					required>
				<div class="hover-opacity button black" @click="readQR()">
					<img alt="qr" src="/static/images/icons/qr.svg" width="16" height="16">
				</div>
			</div>
			
			
			<div class="fields">
				<label class="white">
					<select name="agency" id="agency" x-model="agency" @change="updateFields">
						<option value="1">Shalom</option>
						<option value="2">Olva</option>
						<option value="3">Marvisur</option>
					</select>
				</label>

				<label class="white">
					<img alt="user" src="/static/images/id.svg" width="16" height="16">
					<input
						type="text"
						maxlength="15"
						placeholder="DNI / RUC"
						x-model="document"
						x-bind:disabled="disableDoc"
						@blur="fetchDocumentData()"
						required>
				</label>
			</div>

			<div class="fields">
				<label :class="disableName ? 'glass2' : 'white'">
					<img alt="user" src="/static/images/user.svg" width="16" height="16">
					<input 
						x-model="name"
						type="text"
						placeholder="Nombre o Razón Social" 
						maxlength="40" 
						x-bind:disabled="disableName"
						required>
				</label>
			</div>
			
			<div class="fields">
				<label class="white">
					<img alt="phone" src="/static/images/phone.svg" width="16" height="16">
					<input 
						x-model="phone"
						type="tel" 
						placeholder="Celular" 
						minlength="9"
						maxlength="9" 
						x-on:input="
							let val = $event.target.value.replace(/[^0-9]/g, '');
							if (val.length === 1 && val !== '9') {
								val = '';
							}
							phone = val;
						"
						required>
				</label>

				<label class="white">
					<img alt="email" src="/static/images/email.svg" width="16" height="16">
					<input 
						x-model="email"
						type="email" 
						placeholder="Correo"
						maxlength="60">
				</label>
			</div>

			<div class="fields">
				<label class="white">
					<input 
					type="text" 
					:placeholder="config[agency].p1" 
					x-model="code1" 
					x-on:input="
						if (agency === '3') {
							code1 = $event.target.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
							if (!code1.startsWith('V')) {
								code1 = '';
							}
						} else {
							code1 = $event.target.value.replace(/[^0-9]/g, '');
						}
					" 
					:maxlength="config[agency].m1" 
					required>
				</label>
				
				<template x-if="config[agency].type2 === 'select'">
					<label class="white">
						<select class="sp" x-model="code2" required>
							<template x-for="opt in config[agency].options" :key="opt">
								<option :value="opt" x-text="opt"></option>
							</template>
						</select>
					</label>
				</template>
			
				<template x-if="config[agency].type2 === 'text'">
					<label class="white">
						<input 
							type="text" 
							x-model="code2"
							x-on:input="
							if (agency === '3') {
								code2 = $event.target.value.replace(/[^0-9]/g, '');
							} else {
								code2 = $event.target.value.replace(/[^A-Za-z0-9]/g, '').toUpperCase();
							}
							"
							:placeholder="config[agency].p2" 
							:maxlength="config[agency].m2" 
							required>
					</label>
				</template>

				<template x-if="agency === '1'">
					<label class="white">
						<input 
							type="text" 
							x-model="code3"
							placeholder="Clave de recojo" 
							maxlength="4">
					</label>
				</template>
			</div>

			<div class="fields">
				<button class="button hover-opacity" type="submit" :class="buttons.add.class" x-text="buttons.add.text"></button>
			</div>
		</form>
	</div>







	<div
		x-show="$store.cache.isVisibleModal('read')"
		@mousedown.self="$store.cache.hideLastModal(); stopScan();"
		x-transition.duration.300ms
		class="modal-wrap"
		id="modal-qr"
		x-cloak>

		<div class="modal glass2" @click.stop >
			<div class="hover-opacity modal-close" @click="$store.cache.hideLastModal(); stopScan();">
				<img alt="close" src="/static/images/x.svg" width="12" height="12">
			</div>

			<div id="scannerBox">
				<video id="cameraFrame"></video>
				<div class="scannerDots"></div>
			</div>
		</div>
	</div>



	<div
		x-show="$store.cache.isVisibleModal('view')"
		@mousedown.self="$store.cache.hideLastModal()"
		x-transition.duration.300ms
		class="modal-wrap"
		id="modal-view"
		x-cloak>
		<div class="modal glass2" @click.stop>
			<div class="top">
				<span class="order" x-text="tracking_order.order_number"></span>
				<div class="code3" x-show="tracking_order.code3" x-text="'Clave: ' +tracking_order.code3"></div>
				<img class="agency" width="80" height="22" :src="'/static/images/tracking/' + $store.cache.tracking_agencies?.[tracking_order.agency_id]?.icon" alt="">
			</div>

			<div class="content">
				

				<div class="white user">
					<span class="letter" x-text="tracking_order.client_name?.charAt(0)"></span>

					<div class="data">
						<span x-text="tracking_order.client_name"></span>
						<span x-text="tracking_order.client_document"></span>
					</div>

					<a class="message hover-opacity" :href="'https://api.whatsapp.com/send?phone=' + tracking_order.client_phone" target="_blank" rel="nofollow">
						<img width="16" height="16" alt="client_phone" src="/static/images/whatsapp.svg">
					</a>
				</div>

				

				<div class="white user">
					<img width="16" height="16" alt="client_phone" src="/static/images/location.svg">

					<div class="data">
						<span x-text="tracking_order.destination_agency"></span>
						<span x-text="'Enviado desde ' + tracking_order.origin_agency"></span>
					</div>
				</div>
				
				<div class="review glass2">
					<template x-for="item in tracking_order.status_history" :key="item.status_id">
						<div class="row">
							<span class="detail" x-text="item.status_name"></span>
							<span class="date" x-text="formatDate(item.register_at)"></span>
						</div>
					</template>
				</div>
				<div class="codes">
					<div class="glass2" x-html="'Código 1: <b>' +tracking_order.code1+'</b>'"></div>
					<div class="glass2" x-html="'Código 2: <b>' +tracking_order.code2+'</b>'"></div>
				</div>
			</div>

			
			<div class="hover-opacity modal-close" @click="$store.cache.hideLastModal()" >
				<img alt="close" src="/static/images/x.svg" width="12" height="12">
			</div>
		</div>
	</div>



	<script>
		Alpine.data('tracking_data', () => ({
			dashboard: [],
			tracking_order: {},

			order_number: "",    
			document: "",
			name: "", 
			phone: "",    
			email: "",       
			agency: "1",         
			code1: "",          
			code2: "",
			code3: "",
			client_id: null,
			client_order_id: null,
			disableDoc: false,     
			disableName: false,
			orders: {
				agencia: [],
				ruta: [],
				entregado: []
        	},
			config: {
				1: { p1: "N° Orden Shalom", m1: 8, type2: "text", p2: "Código de Orden", m2: 4 },
				2: { p1: "N° de Tracking", m1: 7, type2: "select", options: ["25", "24", "23", "22"] },
				3: { p1: "V001", m1: 4, type2: "text", p2: "0000001", m2: 7 }
			},
			buttons: {
                add: { class: '', text: 'Añadir' },
            },
        	codeReader: null,
			scannerRunning: false,
			
			async init() {
                this.codeReader = new ZXingBrowser.BrowserQRCodeReader();
				console.log('Inicializando Tracking...');

				const socket = Alpine.store('cache').socket;
				if (socket) {
					socket.off("update_tracking_orders");
					socket.on("update_tracking_orders", async () => {
						await this.getDashboard();
					});
				}

				// Load data
				const fetchDataIfNeeded = !Alpine.store('cache').isLoaded('tracking_status') ? this.fetchData() : Promise.resolve();
				await Promise.all([fetchDataIfNeeded, this.getDashboard()]);
			},

			async fetchData() {
				try {
					console.log('Obteniendo datos desde API');
					
					const endpoints = [
						{ url: '/general/tracking_status', key: 'tracking_status' },
						{ url: '/general/tracking_agencies', key: 'tracking_agencies' },
					];

					const responses = await Promise.all(
						endpoints.map(ep => 
							fetch(Alpine.store('cache').api + ep.url)
								.then(res => res.json())
								.then(data => ({ key: ep.key, data: data.data }))
						)
					);

					responses.forEach(({ key, data }) => {
						Alpine.store('cache').setData(key, data);
					});

				} catch (error) {
					console.error('Error fetching data:', error);
				}
			},

			async viewOrder(order_id) {
				NProgress.start();
				try {
					const response = await fetch(Alpine.store('cache').api + `/tracking/order_id/${order_id}`);
					const data = await response.json();
					this.tracking_order = data.data;
					Alpine.store('cache').showModal('view');
				} catch (error) {
					console.error('Error en la asignación:', error);
				} finally {
					NProgress.done();
				}
			},

			async startScan() {
				try {
					this.scannerRunning = true;

					await this.codeReader.decodeFromVideoDevice(null, 'cameraFrame', async (result, err, controls) => {
						if (!this.scannerRunning) return;

						if (result) {
							const readed = result.text;
							//console.log("QR escaneado:", ose_id);
							const payload = {
								ose_id: readed.split('/')[0],
							};
							NProgress.start();

							try {
								const response = await fetch(Alpine.store('cache').api + '/tracking/qr_data', {
									method: 'POST',
									headers: {'Content-Type': 'application/json'},
									body: JSON.stringify(payload),
								});

								const jsonData = await response.json();
								if (!response.ok) throw new Error(jsonData?.data?.message || 'Error en la solicitud');
								const data = jsonData.data;

								this.agency = data.agency;
								this.code1 = data.numero_orden;
								this.code2 = data.codigo_orden;

								this.document = data.client_document;
								this.client_id = data.client_id;
								this.name = data.client_name;
								this.phone = data.client_phone;
								this.email = data.client_email;

							} catch (error) {
								this.showError('add', error.message);
							} finally {
								NProgress.done();
							}
							
							this.stopScan();

							if (controls?.stop) {
								controls.stop();
							}

							Alpine.store('cache').hideModal('read');
						}
					});
				} catch (e) {
					console.error("❌ Error accediendo a la cámara:", e);
				}
			},

            stopScan() {
				this.scannerRunning = false;

				if (this.codeReader?.reset) {
					this.codeReader.reset();
				}

				const video = document.getElementById('cameraFrame');
				if (video?.srcObject) {
					video.srcObject.getTracks().forEach(track => track.stop());
					video.srcObject = null;
				}
			},

			editAllowed() {
				const user = Alpine.store('cache').user;
				return (
					(user.department_id === 2 && user.shipping_app_level !== 4) ||
					user.level_id === 4
				);
			},

			updateFields() {
				this.code1 = "";
				this.code2 = "";
				this.code3 = "";
				if (this.agency === "2" && Array.isArray(this.config[this.agency]?.options)) {
					this.code2 = this.config[this.agency].options[0];
				}
				if (this.agency !== "1") {
					this.code3 = null;
				}
				this.$nextTick(() => {});
			},
	  
			fetchOrderData() {
				const orderNumber = this.order_number.trim();
				if (!orderNumber) return;

				fetch(Alpine.store('cache').api + `/client/order_number/${orderNumber}`)
					.then(res => res.json())
					.then(({ data: { client = {}, client_order_id = null } = {} }) => {
						let shouldClear = !client.name && !client.document && !client.phone && !client.email;

						if (client.name) {
							this.name = client.name;
							this.disableName = true;
						} else if (this.disableName) {
							this.name = "";
							this.disableName = false;
						}

						if (client.document) {
							this.document = client.document;
							this.disableDoc = true;
						} else if (this.disableDoc) {
							this.document = "";
							this.disableDoc = false;
						}

						["phone", "email"].forEach(field => {
							if (client[field]) {
								this[field] = client[field];
							} else if (shouldClear) {
								this[field] = "";
							}
						});

						this.client_id = client.id || null;
						this.client_order_id = client_order_id;
					})
					.catch(() => {
						this.name = "";
						this.disableName = false;
						this.document = "";
						this.disableDoc = false;
						["phone", "email"].forEach(field => {
							this[field] = "";
						});
						this.client_id = null;
						this.client_order_id = null;
					});
			},

			fetchDocumentData() {
				const doc = this.document.trim();
				if (!doc) return;

				fetch(Alpine.store('cache').api + `/client/data/${doc}`)
					.then(res => res.json())
					.then(({ data: client = {} } = {}) => {
						['name', 'phone', 'email'].forEach(field => {
							const disableField = `disable${field.charAt(0).toUpperCase() + field.slice(1)}`;
							if (client[field]) {
								this[field] = client[field];
								this[disableField] = true;
							} else if (this[disableField]) {
								this[field] = "";
								this[disableField] = false;
							}
						});
						this.client_id = client.id || null;
					})
					.catch(() => {
						['name', 'phone', 'email'].forEach(field => {
							const disableField = `disable${field.charAt(0).toUpperCase() + field.slice(1)}`;
							if (this[disableField]) {
								this[field] = "";
								this[disableField] = false;
							}
						});
						this.client_id = null;
					});
			},

			getLineColor(agency_id) {
				switch (agency_id) {
					case 1: return '#f2473e';
					case 2: return '#ffb625'; 
					case 3: return '#f58a39'; 
					default: return '#cdcdcd';
				}
			},

			resetForm() {
				this.order_number = "";
				this.document = "";
				this.name = "";
				this.phone = "";
				this.email = "";
				this.client_order_id = "";
				this.client_id = null;
				this.disableDoc = false;
				this.disableName = false;
				this.updateFields();
			},

			async processTracking() {
				if (!this.$refs.form.checkValidity()) {
					return;
				}
                NProgress.start();

				const payload = {
					order_number: this.order_number,
					agency_id: this.agency,
					code1: this.code1,
					code2: this.code2,
					code3: this.code3 || null, 
					client_id: this.client_id || null,
					client_order_id: this.client_order_id || null,
					client: {
						document: this.document,
						name: this.name,
						phone: this.phone,
						email: this.email,
					},
				};

				try {
					const response = await fetch(Alpine.store('cache').api + '/tracking/add', {
						method: 'POST',
						headers: {'Content-Type': 'application/json'},
						body: JSON.stringify(payload),
					});

                    const jsonData = await response.json();
					if (!response.ok) throw new Error(jsonData?.data?.message || 'Error en la solicitud');
					
					Alpine.store('cache').hideModal('add');
					this.resetForm();
					
				} catch (error) {
					this.showError('add', error.message);
                } finally {
                    NProgress.done();
                }
			},

			showError(btnKey, errorMsg) {
                const originalText = this.buttons[btnKey].text;
                const originalClass = this.buttons[btnKey].class;

                if (originalClass == 'error') {
                    return;
                }
                this.buttons[btnKey].text = errorMsg;
                this.buttons[btnKey].class = 'error';

                setTimeout(() => {
                    this.buttons[btnKey].text = originalText;
                    this.buttons[btnKey].class = originalClass;
                }, 1000);
            },
			
			async getDashboard() {
				try {
					const response = await fetch(Alpine.store('cache').api + '/tracking/dashboard');
					const data = await response.json();
					this.dashboard = data.data || [];
				} catch (error) {
					console.error('Error fetching dashboard', error);
				}
			},

			/*async getDashboard() {
				try {
					const response = await fetch(Alpine.store('cache').api + "/tracking/dashboard", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({})
					});
					const result = await response.json(); 
					const data = result.data;

					this.orders.agencia = data.filter(order => order.last_status_id === 1);
					this.orders.ruta = data.filter(order => order.last_status_id === 2);
					this.orders.entregado = data.filter(order => order.last_status_id === 3);
				} catch (error) {
					console.error("Error al cargar las órdenes:", error);
				}
			},*/

			addTracking() {
				Alpine.store('cache').showModal('add');
			},

			readQR() {
				Alpine.store('cache').showModal('read');
				this.startScan();
			},
			formatDate(dateStr) {
				const [day, month, yearTime] = dateStr.split('-');
				const [year, timePart] = yearTime.split(' ');
				const date = new Date(`${year}-${month}-${day}T${timePart}`);

				return date.toLocaleString('es-ES', {
					weekday: 'long',
					day: 'numeric',
					month: 'long',
					hour: '2-digit',
					minute: '2-digit'
				});
			},
		}));
	  </script>
	
	






	<style>
        #tracking-dashboard {
			width: 100%;
			padding: 1rem;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin: 0 auto;
			max-width: 118rem;
		}
		#tracking-dashboard .group {
			flex: 1;
			display: flex;
			flex-direction: column;
			border-right: 2px solid #ffffff80;
			gap: 0.25rem;
			transition: var(--transition);
			min-width: 10rem;
		}
		#tracking-dashboard .group:last-child {
			border-right: none;
		}
		#tracking-dashboard .group .name {
			display: flex;
			justify-content: center;
			font-size: 0.9rem;
			margin-top: 0.75rem;
			gap: 0.5rem;
			align-items: center;
		}
		#tracking-dashboard ul {
			margin: 0;
			list-style: none;
			display: flex;
			gap: 0.75rem;
			flex-direction: column;
			padding: 1.25rem;
			flex: 1;
		}
		#tracking-dashboard ul li {
			border-radius: 0.75rem;
			cursor: pointer;
			padding: 1rem;
			display: flex;
			gap: 0.25rem;
			flex-direction: column;
			transition: var(--transition);
		}
		#tracking-dashboard ul li .row {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
		}
		#tracking-dashboard ul li .order-number {
			font-size: 1rem;
			font-weight: 600;
			line-height: 1rem;
		}
		#tracking-dashboard ul li .client-name {
			font-weight: 600;
			font-size: 0.75rem;
			line-height: 1rem;
			display: block;
		}
		#tracking-dashboard ul li .destination-agency {
			font-size: 0.75rem;
			opacity: 0.75;
			line-height: 0.8rem;
			margin-top: 0.5rem;
		}
		
		#tracking-dashboard .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#tracking-dashboard .header .title {
			background-color: var(--black);
			color: var(--white);
			padding: 0.75rem 1.5rem;
			border-radius: 2rem;
			font-weight: 300;
		}
		#tracking-dashboard .header .title img {
			padding: 0.5rem;
			border-radius: 0.5rem;
			border: 2px solid #eee;
		}
		#tracking-dashboard .header .range {
			font-size: 1rem;
			font-weight: 600;
			text-transform: capitalize;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			position: relative;
		}
		#tracking-dashboard .container-tracking{
			display: flex;
			flex: 1;
		}
		#tracking-dashboard .container-tracking .cont{
			flex: 1;
			padding: 1rem;
		}
		#tracking-dashboard .container-tracking .cont .title{
			margin: 0 0 1rem 0;
			text-align: center;
			font-size: 1rem;
			font-weight: 400;
		}
		#tracking-dashboard .container-tracking .cont .title .icon{
			width: 1.3rem;
			margin-right: .5rem;
		}
		#tracking-dashboard .container-tracking .cont.ruta{
			border-left: .1rem solid var(--white);
			border-right: .1rem solid var(--white);
		}
		#tracking-dashboard .container-tracking .cont .data{
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		#tracking-dashboard .container-tracking .cont .data .no-orders {
			text-align: center;
		}
		#tracking-dashboard .container-tracking .cont .data .order {
			display: flex;
			flex-direction: column;
			padding: 1rem;
		}
		#tracking-dashboard .container-tracking .cont .data .order p{
			margin: 0;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f1{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f1 .orderId{
			font-weight: 500;
			font-size: 1rem;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f1 img{
			height: 1.3rem;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f2{
			display: flex;
			flex-direction: column;
			margin: 1rem 0;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f3{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f3 .origin{
			padding-right: 1rem;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f3 .destiny{
			padding-left: 1rem;
		}  
		#tracking-dashboard .container-tracking .cont .data .order .f3 .line {
			display: flex;
			width: 100%;
			height: 0.5rem;
			background: linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 40%, var(--line-color) 100%);
			background-size: 200% 100%;
			animation: gradientMove 4s linear infinite;
			margin-top: 0.15rem;
			border-radius: 1rem;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f3 .line.no-animation {
			background: var(--line-color);
			animation: none;
			background-size: initial;
		}
		#tracking-dashboard .container-tracking .cont .data .order .f3 .line.par-animation {
			background: var(--line-color);
			animation: blink 1.5s infinite ease-in-out;
			background-size: initial;
		}

		@keyframes blink {
			0%, 100% { opacity: 1; }
			50% { opacity: 0.2; }
		}

		@keyframes gradientMove {
			0% {
				background-position: 200% 0;
			}
			100% {
				background-position: -200% 0;
			}
		}

		#modal-add .modal {
			max-width: 36rem;
		}
		#modal-qr .modal {
			align-items: center;
			padding: 0;
			overflow: hidden;
			border: none;
		}
		#modal-qr .modal .modal-close {
			background-color: #ffffff;
			padding: 1rem;
			top: 0px;
			right: 0px;
			border-radius: 0 1rem;
			align-items: center;
			z-index: 1;
		}
		#registerTrackings .header {
			display: flex;
			gap: 1rem;
			margin-top: 1rem;
		}
		#registerTrackings .header .button {
			padding: 0 2rem;
			width: initial;
		}
		#registerTrackings .header .button img {
			filter: invert(1);
		}
		#registerTrackings .title {
			font-family: inherit;
			border: none;
			border-radius: 0.75rem;
			padding: 0 0.75rem;
			margin: 0;
			line-height: 2.5rem;
			outline: none;
			flex: 1;
		}
		#registerTrackings .order,
		#registerTrackings .phone {
			width: 40%;
			margin-bottom: 1rem;
		}
		#registerTrackings .doc,
		#registerTrackings .name {
			width: 58%;
			margin-bottom: 1rem;
		}
		#registerTrackings .email{
			width: 100%;
		}
		#registerTrackings .agen {
			width: 20%;
		}
		#registerTrackings .track {
			width: calc(80% - 1rem);
			gap: 1rem;
		}
		#registerTrackings #error-register{
			width: 100%;
		}
		#registerTrackings #error-register p{
			text-align: center;
			color: red;
			font-size: .9rem;
			font-weight: 600;
			margin: 1rem auto -1rem auto;
			line-height: 1;
		}
		#registerTrackings #error-register p.true{
			color: rgb(11, 199, 73);
		}
		#registerTrackings .order input,
		#registerTrackings .doc input,
		#registerTrackings .name input,
		#registerTrackings .phone input,
		#registerTrackings .email input,
		#registerTrackings .agen select,
		#registerTrackings .track .sp,
		#registerTrackings .track input {
			border: 0.1rem solid var(--newgray);
			padding: 0.5rem;
			border-radius: 0.5rem;
			outline: none;
			width: 100%;
			font-size: 0.9rem;
		}
		#registerTrackings .track input,
		#registerTrackings .track .sp {
			flex: 1;
		}
		#registerTrackings .agen-tit {
			font-size: 1rem;
			font-weight: 1rem;
			width: 100%;
			margin: 0;
			font-weight: 500;
		}
		#registerTrackings .ins {
			width: 100%;
			margin: 2rem 0 0 0;
			border: 0;
			background-color: var(--primary);
			color: var(--white);
			padding: 0.75rem;
			border-radius: 1rem;
			font-size: 0.9rem;
			outline: none;
			cursor: pointer;
		}

		/************************************************************************/
		#scannerBox {
			position: relative;
			width: 20rem;
			height: 20rem;
		}
		#scannerBox .scannerDots {
			position: absolute;
			top: 20%;
			left: 20%;
			width: 60%;
			height: 60%;
			border: 2px dashed var(--primary);
			border-radius: 0.75rem;
		}
		#cameraFrame {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		#scanning {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			padding: 0.5rem 1rem;
			border-radius: 1rem;
			display: none;
			font-size: 0.85rem;
			opacity: 0.5;
			font-family: monospace;
		}
		#modal-view .top {
			display: flex;
			align-items: center;
			gap: 1rem;
			font-weight: 500;
		}
		#modal-view .top .order {
			font-size: 1.125rem;
			line-height: 1rem;
		}
		#modal-view .top .code3 {
			padding: 0.25rem 1rem;
			background-color: var(--primary);
			color: var(--white);
			font-weight: 400;
			border-radius: 1rem;
			font-size: 0.8rem;
		}
		#modal-view .top .agency {
			margin-right: 1.5rem;
    		margin-left: auto;
		}
		#modal-view .content {
			display: flex;
			flex-wrap: wrap;
			width: 28rem;
			gap: 1rem;
		}
		#modal-view .content .codes {
			display: flex;
			justify-content: space-between;
			width: 100%;
			gap: 1rem;
		}
		#modal-view .content .codes .glass2 {
			flex: 1;
			text-align: center;
			font-weight: 400;
			display: flex;
			justify-content: space-between;
			padding: 0.25rem 1rem;
		}
		#modal-view .content .codes .glass2 b {
			font-weight: 600;
		}
		#modal-view .content .user {
			width: 100%;
			display: flex;
			gap: 0.75rem;
			padding: 1rem;
			align-items: center;
		}
		#modal-view .content .user .letter {
			background-color: var(--secondary);
			color: var(--white);
			width: 1.75rem;
			height: 1.75rem;
			border-radius: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#modal-view .content .user .data {
			display: flex;
			flex-direction: column;
			gap: 0.125rem;
		}
		#modal-view .content .user .data span + span {
			opacity: 0.5;
		}
		#modal-view .content .user .message {
			margin-left: auto;
			padding: 0.5rem;
		}
		#modal-view .content .user .message img {
			min-width: 1rem;
		}
		#modal-view .review {
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 1rem;
			position: relative;
			padding: 1rem;
			border-radius: 0.75rem;
		}
		#modal-view .review .row {
			display: flex;
			flex-direction: column;
			position: relative;
			padding-left: 2rem;
		}
		#modal-view .review .row .detail {
			font-weight: 500;
		}
		#modal-view .review .row .date {
			opacity: 0.6;
		}
		#modal-view .review .row::after {
			content: "";
			position: absolute;
			top: 0.125rem;
			left: 0;
			width: 14px;
			height: 14px;
			background-color: var(--primary);
			border-radius: 1rem;
		}
		#modal-view .review::after {
			content: "";
			position: absolute;
			width: 4px;
			background-color: var(--primary);
			left: 21px;
			top: 1.25rem;
			bottom: 2.5rem;
			opacity: 0.25;
		}
		@media only screen and (max-width: 48rem) {
			#tracking-dashboard .group {
				border-right: none;
				border-bottom: 2px solid #ffffff80;
			}
			#tracking-dashboard .group:last-child {
				border-bottom: none;
			}
			#tracking-dashboard .container-tracking {
    			flex-direction: column;
			}
			#tracking-dashboard .container-tracking .cont.ruta {
				border-left: none;
    			border-right: none;
				border-bottom: .1rem solid var(--white);
    			border-top: .1rem solid var(--white);
			}
			#scannerBox {
				width: initial;
				aspect-ratio: 1 / 1;
        		height: initial;
			}
			#modal-view .content {
				width: 100%;
			}
			#modal-view .content .codes {
				flex-direction: column;
			}
		}
	</style>
</div>