<section id="frontSlider">
	<div class="wrapper">
		<img class="imaCap" width="1920" height="630" src="https://soporte.krear3d.com/assets/img/capacitaciones-pc.webp">
	</div>
	<div class="car-prices">
		<div class="swiffy-slider slider-item-show3 slider-nav-autoplay slider-nav-dark slider-nav-outside slider-nav-visible slider-indicators-round slider-indicators-dark slider-indicators-outside slider-indicators-sm">
			<ul class="slider-container" data-slider-nav-autoplay-interval="4000">
				<li class="slide-visible">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-1.png" alt="">
						<div>
							<p>Capacitación de<br> Impresora 3D de Filamento</p>
							<p>Duración: 03 horas</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
				<li class="slide-visible">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-2.png" alt="">
						<div>
							<p>Capacitación de<br> Impresora 3D de Resina</p>
							<p>Duración: 03 horas</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
				<li class="slide-visible">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-3.png" alt="">
						<div>
							<p>Capacitación de<br> Cortadora Láser</p>
							<p>Duración: 03 horas</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-4.webp" alt="">
						<div>
							<p>Capacitación de<br> Router CNC</p>
							<p>Duración: 03 horas</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-5.webp" alt="">
						<div>
							<p>Capacitación de<br> Escáner 3D</p>
							<p>Duración: 03 horas</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-6.webp" alt="">
						<div>
							<p>Capacitación de<br> Dron</p>
							<p>Duración: 01 hora</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="card">
						<img src="https://soporte.krear3d.com/assets/img/pre-7.webp" alt="">
						<div>
							<p>Capacitación de<br> Realidad Virtual</p>
							<p>Duración: 01 hora</p>
							<p>S/50.00</p>
							<p>El costo es exonerado en caso el equipo sea comprado en nuestra empresa*</p>
						</div>
					</div>
				</li>
			</ul>

			<button type="button" class="slider-nav"></button>
			<button type="button" class="slider-nav slider-nav-next"></button>

			<ul class="slider-indicators">
				<li class=""></li>
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</section>