<main>
	<section id="frontSlider">
		<div class="wrapper">
			<img class="imaSop" width="1920" height="630" src="https://soporte.krear3d.com/assets/img/consulta-pc.webp">
		</div>
	</section>

	<section id="searchOrderBoxx">
		<div class="wrapper">
			<div class="guide"><img src="https://soporte.krear3d.com/assets/img/guia-pre.webp" alt=""></div>
			<form id="searchOrder">
				<img src="https://soporte.krear3d.com/assets/img/ord.svg" alt="ico" width="64" height="64">
				<h1>Consultar Orden de Servicio</h1>
				<p>Introduce el número de orden y el documento tal cual se muestra en la orden de ingreso proporcionada.</p>
				<input id="orderNumber" type="text" placeholder="Número de Orden">
				<input id="document" type="text" placeholder="Documento ( DNI/RUC )">
				<div id="searchOrderMessage"></div>
				<button type="submit">Consultar Estado</button>
			</form>
		</div>
	</section>
</main>